name: CI Talentoech
on:
  push:
    branches: [main,develop]
  pull_request:
    branches: [main,develop]
jobs:
    test:
        runs-on: ubuntu-latest
        env:
            PYTHON_VERSION: '3.12'
            PIP_CACHE: ~/.cache/pip

        steps:
            - name: Checkout codigo 
              uses: actions/checkout@v4

            - name: Cache dependencia
              uses: actions/cache@v4
              with:
                path: ${{ env.PIP_CACHE }}
                key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}

            - name: Instalar Python ${{ env.PYTHON_VERSION }}
              uses: actions/setup-python@v5
              with:
                python-version: ${{ env.PYTHON_VERSION }}

            - name: Instalar dependencias 
              run: pip install -r requirements.txt

            - name: Ejecutar pruebas
              run: python3 run_tests.py

            - name: Reporte HTML + imagenes + logs
              uses: actions/upload-artifact@v4
              with:
                name: html-report
                path: reports/

            - name: Subir suite logs
              uses: actions/upload-artifact@v4
              with:
                name: suite-logs
                path: logs/